<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Node.js + OAuth + Handlebars + Socket.io</a>
			</div>
		</div>
	</div>
	<div id="container" class="container">
		{{{body}}}
	</div>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>